body {
    background: url("tlo.gif") rgb(53, 71, 99);
}

.snieg {
    width: 100%;
    height: 100vh;
    background: url("sniezek.gif");
}

h1 {
    background: linear-gradient(to right, green, yellow);
    background-clip: text;
    color: transparent;
    width: max-content;
}

img {
    max-width: 300px;
    height: auto;
    margin:auto;
}

.kontenerowiec_zbyszka3 {
    width: fit-content;
    background-image:url("andrzejtat.png");
    background-size: auto 100%;
    border-color: transparent;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, lightgreen, pink) 1;
    border-image-slice: 1;
    animation: andrzejWiertlo 4s linear infinite;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto;
}

.swieta {
    top: 2%;
    position:absolute;
}

.text_zbyszko {
    animation: textRozpierdol 3s reverse infinite;
}

.gowniana-animacja {
    position: fixed;
    bottom: 0;
    right: 0;
    animation: gownianaAnimacja 3s linear infinite;
  }

@keyframes andrzejWiertlo {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 166% 0%;
    }
  }

@keyframes textRozpierdol {
    0%, 100% {
        color: white;
    }
    50% {
        color: red;
    }
}

@keyframes gownianaAnimacja {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-500px);
    }
}